.no-task-block {
    text-align: center;
}

.no-task-block img {
    user-select: none;
    height: 30vmin;
    margin-block-start: 20px;
}

.no-task-block div {
    font-weight: 100;
    font-size: 3.5vmin;
    letter-spacing: 1px;
}


@media (max-width: 640px) {
    .no-task-block img {
        height: 10em;
        margin-block-start: 0;
    }

    .no-task-block div {
        font-size: 5vmin
    }
}
