:root {
    --text: #191c24;
    --red: #eb2323;
    --green: #24ee50;
    --bg: #e2e2e2;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*::selection {
    color: var(--bg);
    background: var(--text);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--bg);
}

header {
    padding: 7px;
    text-align: center;
}

header a {
    text-decoration: none;
    font-weight: 900;
    color: var(--text);
    font-size: 2em;
    letter-spacing: 1px;
    text-shadow: 0 0 1px #555;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
